<footer>
    <div id="sponsors">
        <img id="freiheit" src="{{ site.baseurl }}/assets/img/freiheit.svg" alt="freiheit.com" height="66" />
        <img id="ibeo" src="{{ site.baseurl }}/assets/img/ibeo.png" alt="Ibeo" />
        <img id="iav" src="{{ site.baseurl }}/assets/img/iav.png" alt="IAV" />
    </div>
    <div id="university">
        <img id="uhh" src="{{ site.baseurl }}/assets/img/uhh.png" alt="Universit&auml;t Hamburg" />
        <img id="tuhh" src="{{ site.baseurl }}/assets/img/tuhh.png" alt="Technische Universit&auml;t Hamburg" />
    </div>
    <p>&copy; 2016 Hamburg Bit-Bots, RobotING@TUHH e.V. &ndash; <a href="../de/imprint.html" lang="de">Impressum</a> &ndash; <a href="../de/privacy_policy.html" lang="de">Datenschutzerkl&auml;rung</a></p>
</footer>
