<footer>
  <div>
      <div id="sponsors">
        <img id="freiheit" src="{{ site.baseurl }}/assets/img/freiheit.svg" alt="freiheit.com" height="50" />
        <img id="tuhh" src="{{ site.baseurl }}/assets/img/tuhh_web_rgb_de.svg" alt="Technische Universit&auml;t Hamburg" height="50"/>
      </div>
      <div id="sponsors_small">
      </div>
      <div id="sponsors_end">
      </div>
  </div>
  <p>&copy; 2020 RobotING@TUHH e.V. &ndash; <a href="../de/legalnotice.html" lang="de">Impressum</a> &ndash; <a href="../de/privacy_policy.html" lang="de">Datenschutzerkl&auml;rung</a></p>
</footer>
