/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

body
{
    background-color: #54C0D3;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#wrapper
{
    position: relative;
    margin: 20px auto;
    width: 1000px;
}

#robots
{
    position: absolute;
    top: 255px;
    left: -75px;
    padding: 35px 35px;
    background-color: #FFF;
    -webkit-border-radius: 1000px;
    border-radius: 100%;
    border: 2px solid #54C0D3;
    height: 200px;
    width: 200px
}

#wrapper > header
{
    text-align: center;
}

nav
{
    margin-top: 25px;
    text-align: center;
    overflow: hidden;
    font-size: 1.1em;
    background-color: #E52F26;
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
}

nav ul
{
    margin: 0;
    padding: 0;
}

nav a
{
    display: inline-block;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

nav li
{
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

nav a.active, nav a:hover, nav a:active
{
    background: #fff;
    color: #000;
}

.lang_switcher
{
    float: right;
    margin-top: -32px;
    margin-left: 16px;
}

article
{
    padding: 50px 50px 50px 250px;
    background-color: #FFF;
    min-height: 300px;
}

h1
{
    font-size: 2em;
}

h2
{
    margin-top: 1.5em;
}

h1, h2, h3, article a
{
    color: #E52F26;
}

hr
{
    margin: 10px 0;
    height: 1px;
    background-color: #AAA;
    border: 0;
}

table
{
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

td,th
{
    border-bottom: 1px solid #AAA;
    padding: 5px
}

table.teams td:nth-child(1), table.teams td:nth-child(3), table.teams td:nth-child(4)
{
    text-align: center;
}

table.schedule th:first-child, table.schedule td:first-child
{
    width: 20%;
}

tr.important
{
    font-weight: bold;
}

article ul
{
    padding-left: 20px;
}

article ol
{
    padding-left: 30px;
}

#wrapper > footer a
{
    color: black;
    text-decoration: none;
}

#wrapper > footer #sponsors
{
    padding: 10px 40px 10px 40px;
    background-color: #FFF;
    text-align: center;
}

#wrapper > footer #sponsors_small
{
    padding: 10px 40px 30px 40px;
    background-color: #FFF;
    -webkit-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px;
    text-align: center;
}

#wrapper > footer #university
{
    padding: 10px 40px;
    background-color: #FFF;
    -webkit-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px;
}

#wrapper > footer div
{
    overflow: hidden;
}

#wrapper > footer #sponsors_small > #basler
{
    margin: 0px 20px 0px 0px;
}

#wrapper > footer #sponsors_small > #imaginghub
{
    margin: 0px 20px 0px 0px;
}

#wrapper > footer #sponsors > #eppendorf
{
    margin: 0px 20px 0px 0px;
}

#wrapper > footer #sponsors > #sick
{
    margin: 0px 0px 0px 0px;
}

#wrapper > footer #sponsors_small > #alfon
{
    margin: 0px 10px 0px 0px;
}

#wrapper > footer #sponsors > #ibeo
{
    margin: 0px 20px 0px 0px;
}

#wrapper > footer #sponsors_small> #iav
{
    margin: 0px 20px 0px 0px;
}

#wrapper > footer #sponsors > #freiheit
{
    margin: 0px 20px 0px 0px;
}

#wrapper > footer #university_small > #tuhh
{
    margin: 0px 0px 0px 0px;
}

#wrapper > footer p
{
    text-align: center;
}

nav, article, #wrapper > footer > #sponsors
{
    box-shadow: 0px 0px 6px #666;
}

#eurobotic_week
{
    background: url(/assets/img/eurobotic_week.png) no-repeat;
    background-position: 16px;
    min-height: 132px;
    padding: 0 16px 0 280px;
    margin: 32px 0;
    border: 1px solid #E52F26;
    border-left: 0;
    border-right: 0;
}

.gallery div div
{
    margin-left: 16px;
    float: left;
    width: 138px;
}

.gallery img
{
    display: block;
    max-width: 130px;
    max-height: 130px;
    border: 4px solid #ddd;
}

.gallery div:first-child
{
    margin: 0;
}

.gallery > div
{
    margin-top: 16px;
    overflow: hidden;
}

form label
{
    display:inline-block;
    width: 150px;
    text-align: right;
    margin: 6px;
}

form label:after
{
    content: ":";
}

form input, button
{
    width: 350px;
    font-size: 1.2em;
    margin: 6px;
    padding:6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #54C0D3;
}

form button
{
    width: auto;
    margin-left: 168px;
    background-color: #54C0D3;
    color: #fff;
}

form input:focus, form button:focus, form button:active, form button:hover
{
    border-color: #E52F26;
}

form button:focus, form button:active, form button:hover
{
    background-color: #E52F26;
}
