<div>
    <!-- <div id="sponsors">
        <img
            id="sponsors-compilation"
            src="{{ site.baseurl }}/assets/img/sponsoren_2025_compilation.png"
            height="200"
        />
    </div> -->

    <div id="sponsors" class="sponsor-grid">
        <!--<a href="https://www.airbus.com/de"
    ><img
      id="airbus"
      src="{{ site.baseurl }}/assets/img/AIRBUS_Blue_height_reduced.png"
      alt="airbus.com"
      height="50"
  /></a>-->
        <a href="https://www.kdab.com/"><img id="kdab" src="{{ site.baseurl }}/assets/img/KDAB.svg" alt="kdab.com"
                height="76" /></a>
        <a href="https://www.tk.de/techniker"><img id="tk" src="{{ site.baseurl }}/assets/img/TK_logo_Sonderform.svg"
                alt="tk.de" height="50" /></a>
        <a href="https://www.draeger.com/de_de/Home"><img id="draeger"
                src="{{ site.baseurl }}/assets/img/Draeger_L_Standard_RGB_Dark-Blue.svg" alt="draeger.com"
                height="59" /></a>
        <!--<a href="https://cc.systems/"
            ><img
                id="ccsystems"
                src="{{ site.baseurl }}/assets/img/cc_logo_blue.png"
                alt="cc.systems"
                height="80"
        /></a>-->
        <a href="https://www.gea.com/de/"><img id="gea"
                src="{{ site.baseurl }}/assets/img/GEA_Logo_w_Claim_sRGB_VibrantBlue.svg" alt="gea.com"
                height="50" /></a>
        <a href="https://www.tuhh.de/tuhh/startseite"><img id="tuhh"
                src="{{ site.baseurl }}/assets/img/TUHH_logo_rgb_2023.svg" alt="Technische Universit&auml;t Hamburg"
                height="50" /></a>
    </div>
    <div id="sponsors_end" />
</div>