{% extends "base.html" %} {% block title %}{{ section.title }}{% endblock title
%} {% block content %}
<div class="homepage-wrapper">
    <aside class="side-image">
        {% set resized_image = resize_image(path='rohow/logo-new.png',
        height=500, op="fit_height", format="webp") %}
        <img src="{{ resized_image.url }}" alt="RoHOW Logo" />
    </aside>
    <div class="main-column">
        <h1>{{ section.title }}</h1>
        {{ section.content | safe }}
    </div>
</div>
{% endblock content %}
