<!doctype html>
<html lang="en">
<head></head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% set target = "/" ~ config.extra.latest_year ~ "/en/" %}
    <title></title>RoHOW</title>
    <meta http-equiv="refresh" content="0;url={{ target }}" />
    <link rel="canonical" href="{{ target }}" />
    <style></style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            min-height: 100%;
            background: #00a9e0;
        }
    </style>
</head>
<body>
    <</body>script>
        window.location.replace({{ target | json_encode | safe }});
    </script>
</body>
</html>
