{% extends "base.html" %} {% block title %}{{ page.title }} | {{ config.title
}}{% endblock title %} {% block content %}
<div class="page-content">
    <h1>{{ page.title }}</h1>

    {% if page.description %}
    <p class="page-description">{{ page.description }}</p>
    {% endif %} {{ page.content | safe }}

    <div class="team-table-container">
        <table>
            <thead>
                <tr>
                    <th class="logo-col">Logo</th>
                    <th>Team Name</th>
                    <th>Division</th>
                    <th class="country-col">Country</th>
                </tr>
            </thead>
            <tbody>
                {% set teams_data = load_data(path="data/teams.toml") %} {% for
                team in teams_data.team %}
                <tr>
                    <td class="logo-col">
                        {% if team.logo %} {% if team.logo is
                        ending_with(".svg") %}
                        <img
                            src="{{ get_url(path=team.logo) }}"
                            alt="{{ team.name }} Logo"
                            class="team-logo"
                        />
                        {% else %} {% set resized_image =
                        resize_image(path=team.logo, height=80, op="fit_height",
                        format="webp") %}
                        <img
                            src="{{ resized_image.url }}"
                            alt="{{ team.name }} Logo"
                            class="team-logo"
                        />
                        {% endif %} {% endif %}
                    </td>
                    <td>
                        <a href="{{ team.link }}">{{ team.name }}</a>
                    <td>{{ team.league }}</td>
                    <td class="country-col">
                        <img
                            src="https://flagcdn.com/{{ team.country | lower }}.svg"
                            alt="{{ team.country }} Flag"
                            class="country-flag"
                        />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
