<footer>
  <div>
      <div id="sponsors">
        <img id="eppendorf" src="{{ site.baseurl }}/assets/img/eppendorfag.svg" alt="Eppendorf AG" height="50" />
        <img id="freiheit" src="{{ site.baseurl }}/assets/img/freiheit.svg" alt="freiheit.com" height="50" />
        <img id="ibeo" src="{{ site.baseurl }}/assets/img/ibeo.svg" alt="Ibeo Automotive GmbH" height="50" />
        <img id="sick" src="{{ site.baseurl }}/assets/img/sickag.svg" alt="Sick AG" height="50" />
      </div>
      <div id="sponsors_small">
        <img id="alfon" src="{{ site.baseurl }}/assets/img/haar.svg" alt="Alfons Haar" height="50" />
        <img id="basler" src="{{ site.baseurl }}/assets/img/basler.jpg" alt="Basler AG" height="50" />
        <img id="imaginghub" src="{{ site.baseurl }}/assets/img/imaginghub.png" alt="imaging hub" height="50" />
        <img id="iav" src="{{ site.baseurl }}/assets/img/iav.png" alt="IAV" height="50"/>
      </div>
      <div id="sponsors_end">
        <img id="tuhh" src="{{ site.baseurl }}/assets/img/tuhh_web_rgb_de.svg" alt="Technische Universit&auml;t Hamburg" height="50"/>
      </div>
  </div>
  <p>&copy; 2018 RobotING@TUHH e.V. &ndash; <a href="../de/legalnotice.html" lang="de">Impressum</a> &ndash; <a href="../de/privacy_policy.html" lang="de">Datenschutzerkl&auml;rung</a></p>
</footer>
