<!doctype html>
<html lang="en">
  {% include 2018/head.html %}
  <body>
    <div id="wrapper">
        {% include 2018/header.html %}
        <nav>
            <ul>
                {% for item in site.data.2018.menulist-de.menu %}
                <li>
                    <a href="{{ item.url }}" alt="{{ item.title }}" class="{% if item.url == page.url %}active{% endif %}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <article>
            <header>
                <h1>{{ page.title }}</h1>
                <a class="lang_switcher" href="{{ page.url | replace:'/de/','/de/'}}"><img src="{{ site.baseurl }}/assets/img/de.svg" width="32" height="32" alt="Deutsche Version" /></a>
                <a class="lang_switcher" href="{{ page.url | replace:'/de/','/en/'}}"><img src="{{ site.baseurl }}/assets/img/en.svg" width="32" height="32" alt="English version" /></a>
            </header>
            <section>
                {{ content }}
            </section>
        </article>
        {% include 2018/footer_de.html %}
    </div>
  </body>
</html>
