<footer>
    <div id="sponsors">
        <img id="alfon" src="{{ site.baseurl }}/assets/img/haar.svg" alt="Alfons Haar" height="66" />
        <img id="freiheit" src="{{ site.baseurl }}/assets/img/freiheit.svg" alt="freiheit.com" height="66" />
        <img id="ibeo" src="{{ site.baseurl }}/assets/img/ibeo.svg" alt="Ibeo" height="66" />
        <img id="tuhh" src="{{ site.baseurl }}/assets/img/tuhh_web_rgb_en.svg" alt="Technische Universit&auml;t Hamburg" height="66"/>
        <br>
    </div>
    <p>&copy; 2016 RobotING@TUHH e.V. &ndash; <a href="../de/imprint.html" lang="de">Imprint</a> &ndash; <a href="../de/privacy_policy.html" lang="de">Privacy policy</a></p>
</footer>
